NODE_ENV=development
HOST=localhost
PORT=3001
PROD_HOST=
CDN_BASE_URL=
AI_PROVIDER=chatgpt
DEBUG_PORT=9222
# Di server VPS
CONTENT_DIR=/var/www/scraper-v2/content/images
# rabbitmq
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
